# CMake
build/
Output_Files/
CMakeFiles/
CMakeScripts/
Testing/
*.cmake
*.json

# VSCode
.vscode/

# Compiled Object files, Static and Dynamic libs
*.slo
*.lo
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# Others
*.swp
*.log
*.DS_Store